In [2]:
%load_ext autoreload
%autoreload 2
%cd ..

/home/sdonoso/projects/cabinet-no-mistery

In [36]:
import json
from src.schemas.item_schema import Item
data_path = "data/raw/2023-09-09/seminsa_items.json"

with open(data_path, 'r') as file:
    data = json.load(file)

not read the last item

In [38]:
items = [Item(**item) for item in data["rows"][:-1]]

In [41]:
import pandas as pd
df = pd.DataFrame(data["rows"][:-1])
df

,id,key,value,doc
0,0005000462BD000000004F89,0005000462BD000000004F89,{'rev': '3-e021446e46bad28441dd5b6efeeb8b25'},"{'_id': '0005000462BD000000004F89', '_rev': '3..."
1,0008000462DE000000002D87,0008000462DE000000002D87,{'rev': '13-88b515b4c5a89cde30f70bc31a58da25'},"{'_id': '0008000462DE000000002D87', '_rev': '1..."
2,0008000462DE000000002E86,0008000462DE000000002E86,{'rev': '11-a10efe12fb4b407bda0127ea22f4552f'},"{'_id': '0008000462DE000000002E86', '_rev': '1..."
3,0008000462DE000000003084,0008000462DE000000003084,{'rev': '20-c207b91044cba7a4321a970af085d385'},"{'_id': '0008000462DE000000003084', '_rev': '2..."
4,0008000462DE000000003183,0008000462DE000000003183,{'rev': '15-c30bc8eabc33ef7d68ac9ef60555babe'},"{'_id': '0008000462DE000000003183', '_rev': '1..."
...,...,...,...,...
1706,B1DD000363E600000007CC53,B1DD000363E600000007CC53,{'rev': '11-332aaf96986d7e387b6c6f90d2f012fd'},"{'_id': 'B1DD000363E600000007CC53', '_rev': '1..."
1707,B1DD000363E600000007CD52,B1DD000363E600000007CD52,{'rev': '8-4b5a3ebc480dc9e360b86aead694e693'},"{'_id': 'B1DD000363E600000007CD52', '_rev': '8..."
1708,B1DD000363E600000007CE51,B1DD000363E600000007CE51,{'rev': '4-1481eef4bdd4e0b3fd0d3ca4bca8e6f0'},"{'_id': 'B1DD000363E600000007CE51', '_rev': '4..."
1709,B1DD000363E600000007CF50,B1DD000363E600000007CF50,{'rev': '3-13922105deb3fa47775d21bcb8555e2f'},"{'_id': 'B1DD000363E600000007CF50', '_rev': '3..."
1710,B1DD000363E600000007D04F,B1DD000363E600000007D04F,{'rev': '4-d1ff9427353747ce35ec8f3e0cf3bcf6'},"{'_id': 'B1DD000363E600000007D04F', '_rev': '4..."